/* CSS (styles.css) */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #CDB1C8;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  background-color: #F1E9E7;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #C7777A;
}

.buttons {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #C5BEB8;
  text-decoration: none;
  color: #ffffff;
}

#noButton {
  position: relative;
}
